body{
    background-color: bisque;
}
.res{
    background-color:plum;
    border: #f5ad05;
}
img{
    float: right;
    height: 200px;
    width: 200px;
}
p{
    color:brown;
    font-size:large ;
}
h1{
    color: red;
    text-align: center;
    font-size:xx-large;
}